#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:linux
  expire: False
users:
  - name: tfuser
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users
    lock_passwd: false
    passwd: $6$6Zoa9EkP$NdXELsRHuqu1ISM9O3PJReQfnpHnPGu/PX8rQs1B9HP.Du2cOnUn/jh16d4ktP2VscI5imHF2Tm2s66IaYPaE/
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA5lFKQ/qSMQmw0TumrIQP+/Tq2aRdLoZpJXwEx74+evsqwYZa21beYT9X7TmDNl9TyUp1b2x0kY4kXXSzeHhhlDa0wDT15ezGnj27ZTn7tt9iWDzh9xY3qkK61a8y2dXx2WpMw9aohqGyuB+4pgK13bF2BXX26DToMksMtcSvJjjb2RXUWVwjONgAI/pSoBuq07uLWa93jpDZiyMZvI2Nd34kxMQCnW4nvptoJeYcYjpItknN8YASON84dr5aQeooRcxsJfR11Hz1r7OYOOyjfxtGq8WV6CSzuiMwnUSV0VZ4cgcLTQqr/6TPScW/f54VH/0Mw6dxuySkzeSwuFvlkQ== sashka@localhost.localdomain

growpart:
  mode: auto
  devices: ["/"]
  ignore_growroot_disabled: false
